In [10]:
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd

documents = [
    'the man went out for a walk',
    'the children sat around the fire'
]

tfidf_vectorizer = TfidfVectorizer()
tfidf_matrix = tfidf_vectorizer.fit_transform(documents)
feature_names = tfidf_vectorizer.get_feature_names_out()
print(feature_names)
tfidf_matrix_array = tfidf_matrix.toarray()

tfidf_df = pd.DataFrame(data=tfidf_matrix_array, columns=feature_names, index=['Doc1', 'Doc2'])
tfidf_df

['around' 'children' 'fire' 'for' 'man' 'out' 'sat' 'the' 'walk' 'went']

,around,children,fire,for,man,out,sat,the,walk,went
Doc1,0.000000,0.000000,0.000000,0.42616,0.42616,0.42616,0.000000,0.303216,0.42616,0.42616
Doc2,0.407401,0.407401,0.407401,0.00000,0.00000,0.00000,0.407401,0.579739,0.00000,0.00000

In [6]:
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd

docs = [
    'the man went out for a walk',
    'the children sat around the fire'
]

tfidf_vectorizer = TfidfVectorizer()

tfidf_matrix = tfidf_vectorizer.fit_transform(docs)
feature_names = tfidf_vectorizer.get_feature_names_out()
tfidf_matrix_array = tfidf_matrix.toarray()
doc_indexes = ['Doc1', 'Doc2']

tfidf_df = pd.DataFrame(data=tfidf_matrix_array, columns=feature_names, index=doc_indexes)
tfidf_df

,around,children,fire,for,man,out,sat,the,walk,went
Doc1,0.000000,0.000000,0.000000,0.42616,0.42616,0.42616,0.000000,0.303216,0.42616,0.42616
Doc2,0.407401,0.407401,0.407401,0.00000,0.00000,0.00000,0.407401,0.579739,0.00000,0.00000

In [14]:
from sklearn.metrics.pairwise import cosine_similarity

cosine_sim = cosine_similarity(tfidf_matrix[0], tfidf_matrix[1])
print(cosine_sim[0][0])

0.1757860783933462